/* Carousel Section */
.slider-container {
    max-width: 90%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slider {
    display: flex;
    transition: transform ease-in-out;
    width: 90%;
    transition-duration: 0.5s;
    margin: 0 auto;
}

.slider img {
    flex-shrink: 0;
    width: calc(100% - 2 * clamp(25px, 5.833333333vw + 1.666666667px, 60px));
    margin: 0 clamp(25px, 5.833333333vw + 1.666666667px, 60px);
    object-fit: contain;
}

.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    cursor: pointer;
    width: clamp(25px, 5.833333333vw + 1.666666667px, 60px);

    fill: var(--main-500);

    transition: all 250ms ease-in;
}

.slider-control:hover,
.slider-control:active {
    fill: var(--accent-400);
}

#next {
    right: 0;
}

#prev {
    left: 0;
}

.slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-dot {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: rgba(129, 140, 248, 0.65);
    border: 1px solid var(--main-400);
    margin: 0 5px;
    cursor: pointer;
    transition: all 250ms ease-in;
}

.slider-dot:hover,
.slider-dot:focus {
    background-color: rgba(251, 191, 36, 0.65);
    border: 1px solid var(--accent-500);
}

.slider-dot.active {
    background-color: var(--main-500);
    border: 1px solid var(--main-500);
    ;
    transform: scale(1.25);
}

.slider-dot.active:hover,
.slider-dot.active:focus {
    background-color: var(--accent-500);
    border: 1px solid var(--accent-500);
}


/* Filter Section */
.filters {
    height: min-content;
    margin: 0 0 2% 0;
    border-radius: 10px;
    box-shadow: 2px 5px 10px var(--neutral-600);
    border: 1px solid var(--neutral-500);
    background-color: var(--neutral-600);
}

.filtre-heading {
    display: grid;
    grid-template-columns: 5fr 1fr;
    color: var(--neutral-400);
    font-size: var(--fs-400);
    border-bottom: 5px solid var(--accent-300);
    ;
    font-weight: 600;
    font-family: 'Rubik';
    text-transform: uppercase;

    padding: 10px 0 15px 5%;
}

.filtre-heading p {
    display: inline-block;

    justify-content: center;
    align-items: center;
    margin: 0;
}

.filter-button {
    display: none;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}

.filter>svg {
    height: var(--fs-400);
    aspect-ratio: 1;
    fill: var(--neutral-400);
    transition: fill 250ms ease-in;
}

.filter>svg:hover,
.filter>svg:focus {
    fill: var(--accent-300);
    transition: fill 350ms ease-in;
    cursor: pointer;
}


.filters-subcategory {
    border-bottom: 1px solid var(--neutral-500);
    margin-bottom: 0;
}

.filters-subcategory:last-child {
    border-bottom: none;
}

.filters-subcategory dt {
    color: var(--neutral-400);
    font-size: var(--fs-300);
    font-weight: 600;
    font-family: 'Rubik';
    text-transform: uppercase;
    padding: 0 0 5px 5%;
    cursor: pointer;
}

.criteres {
    /*display: none;*/
    color: var(--neutral-300);
    background: #474747;
    border-top: 1px solid var(--neutral-300);
    margin-inline-start: 0;
    padding: 0.5% 0 0.5% 0;

}

.criteres>ul {
    margin-inline-start: 5%;
    margin-bottom: 0;
    padding: 0.5% 0 0.5% 0;
}

.filters-subcategory:last-of-type .criteres {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.criteres>ul>ul {
    margin: 0;
}

.tarifs-interval {
    display: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 8px 0 2px 8%;
    border-bottom: none;
}

input[type=checkbox]:checked~.tarifs-interval {
    display: flex;
}

input[type=text] {
    background-color: var(--neutral-200);
    height: 2rem;
    padding: 3px 7px;
    line-height: normal;
    width: 65px;
    margin-top: 6px !important;
    border: 1px solid #888C8C;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(15, 17, 17, .25) inset;
    outline: 0;
    margin-right: 2.5%;
}

input[type=checkbox] {
    accent-color: var(--main-400);
}

input[type=checkbox]:hover,
input[type=checkbox]:focus {
    accent-color: var(--accent-500);
    cursor: pointer;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}


.scrollable-checkboxes {
    height: clamp(130px, 5vw + 110px, 160px);
    overflow: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edg */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera*/
.scrollable-checkboxes::-webkit-scrollbar {
    display: none;
}

.scrollable-checkboxes li {
    scroll-snap-align: start;
    margin-top: 2.5%;
    padding-top: 2.5%;

    transition: color 250ms ease-in;
}

.scrollable-checkboxes li:hover,
.scrollable-checkboxes li:focus {
    color: var(--accent-300);
    transition: color 350ms ease-in;
}


.scrollable-checkboxes li+li {
    border-top: 0.5px solid var(--accent-300);
    margin-top: clamp(5px, 1vw + 2px, 12px);
    padding-top: clamp(5px, 1vw + 2px, 12px);
}

/*end of filter section*/

/* Sort Section */
.sort-section {
    background: var(--main-200);
    /*#f4f5f7ff;*/
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.custom-select {
    position: relative;
    margin: 0 2.5%;
}

select {
    outline: 1px solid var(--neutral-400);
    font-size: var(--fs-200);
    padding: 0.25em 1.5em;

    background: var(--neutral-50);
    color: var(--neutral-800);

    border: 0;
    max-width: 25vw;
}

select:hover {
    box-shadow: 0 2px 25px rgba(59, 130, 246, 1);
}

select:focus {
    box-shadow: 0 2px 25px rgba(59, 130, 246, 1);
    outline: 1px solid var(--main-500);
}

select optgroup {
    background: var(--neutral-100);
    color: var(--neutral-700);
}

select option {
    background: var(--neutral-50);
    color: var(--neutral-600);
}

.custom-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: var(--neutral-50);
    height: 100%;
    width: 1.5rem;
    pointer-events: none;
}

.custom-arrow::after {
    --size: 0.5em;

    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid var(--main-400);
}

.sort-order-toggle {
    display: none;
}

.sort-order-toggle-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 2em;
    cursor: pointer;
}

.sort-order-toggle-label>span {
    margin-left: 5px;
}

.sort-order-toggle-label>span,
.sort-order-toggle-label>span::before,
.sort-order-toggle-label>span::after {
    display: block;
    background: var(--green-500);
    height: 3px;
    width: 1.5em;
    border-radius: 3px;
    position: relative;
    transition: all 500ms ease-in-out;
}

.sort-order-toggle-label>span::before,
.sort-order-toggle-label>span::after {
    content: '';
    position: absolute;
}

.sort-order-toggle-label>span::before {
    bottom: 7px;
    width: 1em;
    background: var(--green-400);
}

.sort-order-toggle-label>span::after {
    top: 7px;
    width: 2em;
    background: var(--green-600);
}

.sort-order-toggle:checked~.sort-order-toggle-label>span::before {
    width: 2em;
    background: var(--red-600);
}

.sort-order-toggle:checked~.sort-order-toggle-label>span {
    background: var(--red-500);
}

.sort-order-toggle:checked~.sort-order-toggle-label>span::after {
    width: 1em;
    background: var(--red-400);
}


/* Bank Cards Section */
.bank-card {
    font-family: 'Rubik';
    font-size: var(--fs-100);
    font-weight: 500;
    color: var(--main-200);

    position: relative;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr max-content;
    background: var(--main-500);
    border-radius: 25px;
    padding: 25px;
    margin: 1rem auto 0 auto;
    width: clamp(80%, 55vw, 800px);
    overflow: hidden;

    transition: all 150ms ease-in-out;
}

.bank-card>* {
    z-index: 1;
}

.bank-card:hover {
    background-image: linear-gradient(30deg, var(--main-500), var(--main-500), var(--main-300), var(--main-500), var(--main-500));
    background-size: 1000%;
    animation: bg-animation 750ms;
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: var(--fs-200) var(--fs-200) var(--main-600);
}

.bank-card::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;

    background-image: url('../img/World-Map-Outline.png');
    background-size: cover;

    opacity: 0.75;
    pointer-events: none;
    transform: translate(0.5rem, 0.5rem);
}

.vertically-centered {
    display: flex;
    align-items: center;
}


.title {
    display: none;
    font-family: 'Rubik';
    font-size: var(--fs-500);
    font-weight: 800;
    color: var(--main-200);
}

.mobile.title {
    display: block;
}

.mobile.sub-title {
    font-family: 'Rubik';
    color: var(--main-200);
    font-size: var(--fs-300);
    font-weight: 700;
    margin: 1.5% 0 3% 0;
}

.bank-card:hover .title,
.bank-card:hover .mobile.sub-title {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(30deg, var(--main-200), var(--main-200), var(--main-400), var(--main-200), var(--main-200));
    background-size: 1000%;
    animation: bg-animation 750ms;
}

@media screen and (orientation: portrait) {
    .filters {
            margin-inline: auto;
        }
        .scrollable-checkboxes {
            padding-left: 0;
        }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
    .title {
        display: block;
    }

    .mobile.title,
    .mobile.sub-title {
        display: none;
    }

    .bank-card:hover {
        background-size: 750%;
    }

    .bank-card:hover .title,
    .bank-card:hover .mobile.sub-title {
        background-size: 750%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.general-info {
    grid-column: 1 / span 2;
}

.general-info div+div {
    margin-top: 0.6rem;
}

.seige-social {
    font-family: 'Rubik';
    font-size: var(--fs-400);
    font-weight: 700;
    color: var(--main-900);
}

.bank-logo {
    /* set a default aspect ratio */
    max-width: clamp(75px, 37.5vw - 75px, 300px);
    height: min-content;
    /*background: rgba(255,255,255,0.5);*/
    margin-left: auto;
    border-radius: 15px;
    padding: 2.5px 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;


    background: linear-gradient(30deg,
            rgba(255, 255, 255, .05),
            rgba(255, 255, 255, .25), 70%,
            rgba(255, 255, 255, .05));
    /*border-radius: 20px;*/
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
}

.bank-logo img {
    width: 100%;
    max-height: 50px;
    object-fit: contain;
    transition: all 75ms ease-in;
}

.bank-logo:hover img {
    transform: scale(1.25);
    transition: all 100ms ease-in;
}

.tel::before {
    content: 'Tel: ';
    font-family: 'Rubik';
    font-size: var(--fs-200);
    font-weight: 700;
    color: var(--main-900);
}

.fax::before {
    content: 'Fax: ';
    font-family: 'Rubik';
    font-size: var(--fs-200);
    font-weight: 700;
    color: var(--main-900);
}

.more-info {
    grid-column: 1 / span 2;

    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s ease-in-out;
}

.view-button input[type="checkbox"] {
    display: none;
}

.bank-card:has(.view-button input[type="checkbox"]:checked) .more-info {
    grid-template-rows: 1fr;
}

.more-info>div {
    min-height: 0;
    visibility: hidden;
    transition: visibility 1s ease-in-out;
}

.more-info>div>*:not(:last-child) {
    margin-top: var(--fs-200);
}

.bank-card:has(input[type="checkbox"]:checked) .more-info>div {
    visibility: visible;
}

.site-link {
    all: unset;

    font-family: 'Rubik';
    font-size: var(--fs-300);
    font-weight: 700;
    transition: color 100ms ease-in;
}

.site-link:hover {
    color: var(--main-900);
    transition: color 250ms ease-in;
}

.map__container {
    object-fit: cover;
    overflow: hidden;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(var(--main-700) 0%, transparent 15% 85%, var(--main-700) 100%) 1;
}

.hide-map-bar {
    margin-top: -68px;
    width: 100%;
    height: 50vh;
}

.view-button {
    all: unset;

    grid-column: 2 / span 1;
    margin-left: auto;
    cursor: pointer;

    border-radius: 15px;
    padding: 5px;
    font-family: 'Rubik';
    font-weight: 500;
    color: var(--accent-500);

    z-index: 2;
}

.view-button:hover {
    text-shadow: 1px 0 10px var(--neutral-50);
}

.view-button>label::before {
    content: 'Voir Plus';
}

.view-button>input[type="checkbox"]:checked+label::before {
    content: 'Voir Moins';
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Styles for the "prestations" pop-up window */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black background with opacity */
}

/* Hide the vertical scrollbar of the pop-up window depending on browser */
.modal::-webkit-scrollbar {
    display: none;
}

.modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Modal Content/Box */
.modal-content {
    color: #000000;
    background-color: #fefefe;
    margin: 2.5% auto;
    /* 2.5% from the top and centered */
    padding: 20px;
    box-shadow: 0px 0px 20px #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 20px;
    z-index: 1001;
}

/* Close Button */
.close {
    color: var(--neutral-300);
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffffff;
}

.close:hover,
.close:focus {
    color: var(--red-500);
    text-decoration: none;
    cursor: pointer;
}