  .square {
    background-image: url(img\Blank-Map-of-World-Outline-02-EN_1.png);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 1.2em;
    text-align: center;
  }

  .square img {
    max-width: 50%;
    margin-bottom: 10px;
  }

  .grid {
    text-align: center;
    display: flex;
    /* add display:flex to center child element horizontally */
    justify-content: center;
    /*width: 100vw;*/
    /* set a width for the parent element */
  }

  .rectangle {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 95%;
    /* adjust width as needed */
    background-color: rgb(40, 54, 255);
    border-radius: 10px;
    margin: 50px auto;
    /* use margin:auto to center horizontally and adjust top margin as needed */
    padding: 10px;
    color: white;
  }


  /* Styles for the button */
  /* Styles for the pop-up window */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black background with opacity */
  }

  /* Hide the vertical scrollbar of the pop-up window depending on browser */
  .modal::-webkit-scrollbar {
    display: none;
  }

  .modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Modal Content/Box */
  .modal-content {
    color: #000000;
    background-color: #fefefe;
    margin: 2.5% auto;
    /* 2.5% from the top and centered */
    padding: 20px;
    box-shadow: 0px 0px 20px #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 20px;
    z-index: 1001;
  }

  /* Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffffff;
  }

  .close:hover,
  .close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
  }