.cmp-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.comparatif-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1% 5%;
}

.container {
    margin: 0 auto;
    padding: 20px;
    padding-top: 5px;
    background-color: var(--neutral-300);
    border-radius: 25px;
    text-align: center;

    display: grid;
    grid-template-rows: auto auto;
}

.container>h1 {
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
    color: var(--main-500);
}

.select-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
}

.vertically-centered {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.bank-logo__cmp {
    height: clamp(100px, 10.62699256vw + 65.9936238px, 200px);
    aspect-ratio: 1;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    object-fit: contain;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 450px;
    width: 25vw;
    margin: 0 auto;
}

option {
    width: 25vw;
}

select>option:first-child {
    font-family: var(--ff-title);
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--main-500);
    color: var(--neutral-100);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    grid-row-start: 2;
    grid-column: 1 / span 2;

    transition: color 100ms ease-in, background-color 250ms ease-in;
}

input[type="submit"]:hover {
    background-color: var(--main-600);
    color: var(--main-50);
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 1000px;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.comparison-slider__container>* {
    margin-top: 1rem;
}

.category-input {
    display: none;
}

.label-accordion {
    --_panel-padding: 0.5rem;
    --_button-size: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: clamp(310px, 53.13496281vw + 139.968119px, 810px);
    column-gap: 2%;
}

.category-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--neutral-500);
    border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2.75);
    padding: var(--_panel-padding);

    font-size: 0;
    transition:
        font-size 250ms ease-in 50ms,
        background-color 500ms ease-in-out 50ms,
        color 500ms ease-in-out 50ms;

    color: var(--neutral-950);
}

.category-label:hover {
    background-color: var(--main-600);
}

.category-label>p {
    margin: 0;
    padding: 0;
    opacity: 0;
    white-space: nowrap;
    text-transform: uppercase;
    transition: opacity 350ms ease-in;
    font-family: var(--ff-title);
    font-weight: 700;
}

.category-input:nth-child(1):checked~.label-accordion>.category-label:nth-child(1),
.category-input:nth-child(2):checked~.label-accordion>.category-label:nth-child(2),
.category-input:nth-child(3):checked~.label-accordion>.category-label:nth-child(3),
.category-input:nth-child(4):checked~.label-accordion>.category-label:nth-child(4) {
    transition:
        font-size 300ms ease-in 50ms,
        background-color 550ms ease-in-out,
        color 550ms ease-in-out;
    font-size: var(--fs-300);
    color: var(--main-200);
    background: var(--main-500);
}

.category-input:nth-child(1):checked~.label-accordion>.category-label:nth-child(1):hover,
.category-input:nth-child(2):checked~.label-accordion>.category-label:nth-child(2):hover,
.category-input:nth-child(3):checked~.label-accordion>.category-label:nth-child(3):hover,
.category-input:nth-child(4):checked~.label-accordion>.category-label:nth-child(4):hover {
    color: var(--main-950);
    background: var(--main-600);
}

@media screen and (width < 580px) {

    .category-label>p {
        display: none;
    }

}

@media screen and (580px <=width < 660px) {

    .category-input:nth-child(1):checked~.label-accordion>.category-label:nth-child(1),
    .category-input:nth-child(2):checked~.label-accordion>.category-label:nth-child(2),
    .category-input:nth-child(3):checked~.label-accordion>.category-label:nth-child(3),
    .category-input:nth-child(4):checked~.label-accordion>.category-label:nth-child(4) {
        font-size: var(--fs-100);
    }

}

@media screen and (660px <=width < 900px) {

    .category-input:nth-child(1):checked~.label-accordion>.category-label:nth-child(1),
    .category-input:nth-child(2):checked~.label-accordion>.category-label:nth-child(2),
    .category-input:nth-child(3):checked~.label-accordion>.category-label:nth-child(3),
    .category-input:nth-child(4):checked~.label-accordion>.category-label:nth-child(4) {
        font-size: var(--fs-200);
    }

}


.category-input:nth-child(1):checked~.label-accordion>.category-label:nth-child(1)>p,
.category-input:nth-child(2):checked~.label-accordion>.category-label:nth-child(2)>p,
.category-input:nth-child(3):checked~.label-accordion>.category-label:nth-child(3)>p,
.category-input:nth-child(4):checked~.label-accordion>.category-label:nth-child(4)>p {
    margin-inline: clamp(4px, 1.275239107vw + 08076514346px, 16px);
    opacity: 1;
    transition: opacity 550ms ease-in;
}

.category-accordion {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    width: clamp(310px, 53.13496281vw + 139.968119px, 810px);
}

.category-slide {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    min-width: 0;
    height: min-content;
    visibility: hidden;

    background: var(--neutral-300);
    border-radius: 25px;
}

.category-slide * {
    opacity: 0;
    transition: opacity 350ms ease-in-out 150ms;
}

.category-input:nth-child(1):not(:checked)~.category-accordion>.category-slide:nth-child(1) *,
.category-input:nth-child(2):not(:checked)~.category-accordion>.category-slide:nth-child(2) *,
.category-input:nth-child(3):not(:checked)~.category-accordion>.category-slide:nth-child(3) *,
.category-input:nth-child(4):not(:checked)~.category-accordion>.category-slide:nth-child(4) * {
    font-size: 0;
}

.category-input:nth-child(1):checked~.category-accordion {
    grid-template-columns: 1fr 0fr 0fr 0fr;
}

.category-input:nth-child(2):checked~.category-accordion {
    grid-template-columns: 0fr 1fr 0fr 0fr;
}

.category-input:nth-child(3):checked~.category-accordion {
    grid-template-columns: 0fr 0fr 1fr 0fr;
}

.category-input:nth-child(4):checked~.category-accordion {
    grid-template-columns: 0fr 0fr 0fr 1fr;
}

.category-input:nth-child(1):checked~.category-accordion>.category-slide:nth-child(1),
.category-input:nth-child(2):checked~.category-accordion>.category-slide:nth-child(2),
.category-input:nth-child(3):checked~.category-accordion>.category-slide:nth-child(3),
.category-input:nth-child(4):checked~.category-accordion>.category-slide:nth-child(4) {
    visibility: visible;
}

.category-input:nth-child(1):checked~.category-accordion>.category-slide:nth-child(1) *,
.category-input:nth-child(2):checked~.category-accordion>.category-slide:nth-child(2) *,
.category-input:nth-child(3):checked~.category-accordion>.category-slide:nth-child(3) *,
.category-input:nth-child(4):checked~.category-accordion>.category-slide:nth-child(4) * {
    opacity: 1;
    transition: opacity 350ms ease-in-out 150ms;
}

.category-label svg {
    height: var(--_button-size);
    aspect-ratio: 1/1;

    fill: var(--neutral-950);
    transition: fill 500ms ease-in-out 50ms;
}

.category-label:hover svg {
    fill: var(--main-950);
}



.category-input:nth-child(1):checked~.label-accordion>.category-label:nth-child(1)>svg,
.category-input:nth-child(2):checked~.label-accordion>.category-label:nth-child(2)>svg,
.category-input:nth-child(3):checked~.label-accordion>.category-label:nth-child(3)>svg,
.category-input:nth-child(4):checked~.label-accordion>.category-label:nth-child(4)>svg {
    fill: var(--main-100);
    transition: fill 550ms ease-in-out;
}

.category-input:nth-child(1):checked~.label-accordion>.category-label:nth-child(1):hover>svg,
.category-input:nth-child(2):checked~.label-accordion>.category-label:nth-child(2):hover>svg,
.category-input:nth-child(3):checked~.label-accordion>.category-label:nth-child(3):hover>svg,
.category-input:nth-child(4):checked~.label-accordion>.category-label:nth-child(4):hover>svg {
    fill: var(--main-950);
    transition: fill 550ms ease-in-out;
}


@media screen and (orientation: landscape) {
    .prestation {
        grid-template-columns: 0fr 0fr;
    }

    .category-input:nth-child(1):checked~.category-accordion>.category-slide:nth-child(1)>.prestation,
    .category-input:nth-child(2):checked~.category-accordion>.category-slide:nth-child(2)>.prestation,
    .category-input:nth-child(3):checked~.category-accordion>.category-slide:nth-child(3)>.prestation,
    .category-input:nth-child(4):checked~.category-accordion>.category-slide:nth-child(4)>.prestation {
        display: grid;
        grid-template-columns: 1fr 1fr;

        column-gap: 0.2rem;
        padding: 20px 10px;
    }
}

@media screen and (orientation: portrait) {
    .prestation {
        grid-template-rows: 0fr 0fr;
    }

    .category-input:nth-child(1):checked~.category-accordion>.category-slide:nth-child(1)>.prestation,
    .category-input:nth-child(2):checked~.category-accordion>.category-slide:nth-child(2)>.prestation,
    .category-input:nth-child(3):checked~.category-accordion>.category-slide:nth-child(3)>.prestation,
    .category-input:nth-child(4):checked~.category-accordion>.category-slide:nth-child(4)>.prestation { 
        display: grid;
        grid-template-rows: 1fr 1fr;

        row-gap: 0.6rem;
        padding: 10px 8px;
    }
}

.prestation>.name {

    font-family: var(--ff-title);
    font-size: calc(var(--fs-400) + 1px);
    font-weight: 700;

    color: var(--neutral-800);
    text-align: center;
}

.values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 1rem;
    font-family: var(--ff-title);
    font-size: var(--fs-400);

    color: var(--neutral-600);

    text-transform: capitalize;
}

.values>* {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.2rem;
}

.higher {
    color: var(--red-500);
    mix-blend-mode: darken;
}

.higher:hover {
    color: var(--red-600);
}

.lower {
    color: var(--green-600);
}

.lower:hover {
    color: var(--green-500);
}

.values>*>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.value {
    font-weight: 500;
}

.currency {
    margin-left: 0.4rem;
    font-size: var(--fs-200);
    font-weight: normal;
}

.values>*>*:last-child {
    font-size: var(--fs-200);
    font-weight: lighter;
}