@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*--dark-color-1: #222823;
    --dark-color-2: #343a40;
    --dark-color-3: #575a5e;
    --dark-color-4: #a7a2a9;
    --dark-color-5: #f4f7f5;

    --light-color-1: #3D5A80;
    --light-color-2: #c6d8ff;
    --light-color-3: #f4f7f5;
    --light-color-4: #388697;
    --light-color-5: #f77f00;

    --main1: var(--light-color-1);
    --main2: var(--light-color-2);
    --support: var(--light-color-3);
    --accent1: var(--light-color-4);
    --accent2: var(--light-color-5);*/

    --ff-title: 'Rubik', Verdana;
    --ff-general: 'Atkinson Hyperlegible', system-ui;

    --fs-100: clamp(0.55rem, 0.92vw + 0.32rem, 0.9rem);
    --fs-200: clamp(0.6rem, 1.025vw + 0.35rem, 1rem);
    --fs-300: clamp(0.7rem, 1.15vw + 0.4rem, 1.125rem);
    --fs-400: clamp(0.8rem, 1.28vw + 0.45rem, 1.25rem);
    --fs-500: clamp(1rem, 1.66vw + 0.6rem, 1.625rem);
    --fs-600: clamp(1.08rem, 1.8vw + 0.63rem, 1.75rem);

    --fs-900: clamp(1.4375rem, 1.5vw + 1.0625rem, 2rem);

    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    --blue-50: #EFF6FF;
    --blue-100: #DBEAFE;
    --blue-200: #BFDBFE;
    --blue-300: #93C5FD;
    --blue-400: #60A5FA;
    --blue-500: #3B82F6;
    --blue-600: #2563EB;
    --blue-700: #1D4ED8;
    --blue-800: #1E40AF;
    --blue-900: #1E3A8A;
    --blue-950: #172554;

    --indigo-50: #eef2ff;
    --indigo-100: #e0e7ff;
    --indigo-200: #c7d2fe;
    --indigo-300: #818cf8;
    --indigo-400: #818cf8;
    --indigo-500: #6366f1;
    --indigo-600: #4f46e5;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --indigo-900: #312e81;
    --indigo-950: #1e1b4b;

    --amber-50: #fffbeb;
    --amber-100: #fef3c7;
    --amber-200: #fde68a;
    --amber-300: #fcd34d;
    --amber-400: #fbbf24;
    --amber-500: #f59e0b;
    --amber-600: #d97706;
    --amber-700: #b45309;
    --amber-800: #92400e;
    --amber-900: #78350f;
    --amber-950: #451a03;

    --orange-50: #fff7ed;
    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
    --orange-400: #fb923c;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    --orange-700: #c2410c;
    --orange-800: #9a3412;
    --orange-900: #7c2d12;
    --orange-950: #431407;


    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;
    --green-950: #052e16;

    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --red-950: #450a0a;

    --main-50: var(--indigo-50);
    --main-100: var(--indigo-100);
    --main-200: var(--indigo-200);
    --main-300: var(--indigo-300);
    --main-400: var(--indigo-400);
    --main-500: var(--indigo-500);
    --main-600: var(--indigo-600);
    --main-700: var(--indigo-700);
    --main-800: var(--indigo-800);
    --main-900: var(--indigo-900);
    --main-950: var(--indigo-950);

    --accent-50: var(--amber-50);
    --accent-100: var(--amber-100);
    --accent-200: var(--amber-200);
    --accent-300: var(--amber-300);
    --accent-400: var(--amber-400);
    --accent-500: var(--amber-500);
    --accent-600: var(--amber-600);
    --accent-700: var(--amber-700);
    --accent-800: var(--amber-800);
    --accent-900: var(--amber-900);
    --accent-950: var(--amber-950);

    --space: 0.5rem;
}

/* General Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: var(--ff-general);
    margin: 0;
    overflow-y: overlay;


    background-color: var(--neutral-700);
}

a:hover,
a:visited,
a:link {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

/* Custom Scrollbar Section */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(115, 115, 115, 0.25);
    border-radius: 100vw;
    margin-block: .5em;
}

body::-webkit-scrollbar-thumb {
    background: var(--accent-400);
    border-radius: 100vw;
}

body::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

@supports (scrollbar-color: white white) {
    body {
        scrollbar-color: var(--accent-400) rgba(115, 115, 115, 0.25);
        scrollbar-width: thin;
    }
}

::selection {
    color: var(--neutral-700);
    background: var(--accent-400);
}

/* Layout Specifications */
.main-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.content-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 1% 2.5% 1% 2.5%;
}

/* Navigation Bar Section */
header {
    background: var(--main-500);
    text-align: center;

    position: sticky;
    /*Maybe absolute is better, priviously : fixed*/
    z-index: 999;

    width: 100%;
    left: 0;
}

.logo {
    height: 60.44px;
}

.navbar {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--main-500);
    width: 100%;
    transform: scale(1, 0);

    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 0 1rem 1rem;
}

.navbar a {
    color: var(--main-100);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;

    transition: 150ms ease-in-out;
}

.navbar a:hover {
    color: var(--accent-400);
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;

    height: 100%;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    margin-left: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--main-100);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

@media screen and (orientation:landscape) {
    /*.content-layout {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin: 1% 0 1% 0;
    }*/

    .content-layout {
        display: grid;
        grid-template-columns: minmax(min-content, 3fr) 10fr;
        column-gap: 1rem;
        margin: 1% 2.5% 1% 2.5%;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    .navbar {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar ul {
        display: flex;
        justify-content: flex-end;
    }

    .navbar li {
        margin: 0 0 0 3em;
    }

    .navbar a {
        opacity: 1;
        position: relative;
    }

    .navbar a::before {
        content: '';
        display: block;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        background: var(--accent-400);
        top: -.75em;
        left: 0;
        right: 0;

        transition: transform ease-in-out 250ms;
        transform: scale(0, 1);
    }

    .navbar a:hover::before {
        transform: scale(1, 1);
    }
}

.loading-screen {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 20%;
    padding-top: 10%;

}

.loading-icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #000000;
    border-top: 5px solid #fff8f8;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: none;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20%;
    padding-top: 10%;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: var(--main-500);
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 var(--main-500);
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px var(--main-500);
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 var(--main-500);
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px var(--main-500);
        height: 40px;
    }
}

/* Footer Section */
footer,
footer nav {
    display: block;
}

footer ul,
footer li {
    margin: 0;
    padding: 0;
}

footer a {
    color: hsl(210, 8%, 60%);
}

footer a:hover,
footer a:active {
    color: hsl(210, 8%, 65%);
}

.site-footer {
    background-color: var(--neutral-900);
    border-top: hsl(0, 0%, 100%);
    color: hsl(210, 8%, 60%);
}

.footer--container {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 12px 12px 12px;
    display: flex;
    flex-flow: row wrap;
}

.footer--logo {
    flex: 0 0 124px;
    margin: -12px 0 32px 0;
}

.svg-icon {
    vertical-align: bottom;
}

.footer--nav {
    display: flex;
    flex: 2 1 auto;
    flex-wrap: wrap;
}

.footer--col {
    padding: 0 12px 24px 0;
    flex: 1 0 auto;
}

.col-title {
    font-family: var(--ff-title);
    font-size: var(--fs-300);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: var(--fs-200);
    color: hsl(210, 8%, 75%);
}

.col-title a {
    color: hsl(210, 8%, 75%);
    cursor: default;
}

.footer--col .col-list>li+li {
    margin-top: calc(var(--fs-100)/2);
}