@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark-color-1: #222823ff;
    --dark-color-2: #343a40ff;
    --dark-color-3: #575a5eff;
    --dark-color-4: #a7a2a9ff;
    --dark-color-5: #f4f7f5ff;

    --light-color-1: #3D5A80ff;
    --light-color-2: #c6d8ffff;
    --light-color-3: #f4f7f5ff;
    --light-color-4: #388697ff;
    --light-color-5: #f77f00ff;

    --main1: var(--light-color-1);
    --main2: var(--light-color-2);
    --support: var(--light-color-3);
    --accent1: var(--light-color-4);
    --accent2: var(--light-color-5);

    --neutral-50: #fafafaff;
    --neutral-100: #f5f5f5ff;
    --neutral-200: #e5e5e5ff;
    --neutral-300: #d4d4d4ff;
    --neutral-400: #a3a3a3ff;
    --neutral-500: #737373ff;
    --neutral-600: #525252ff;
    --neutral-700: #404040ff;
    --neutral-800: #262626ff;
    --neutral-900: #171717ff;
    --neutral-950: #0a0a0aff;

    --blue-50: #EFF6FFff;
    --blue-100: #DBEAFEff;
    --blue-200: #BFDBFEff;
    --blue-300: #93C5FDff;
    --blue-400: #60A5FAff;
    --blue-500: #3B82F6ff;
    --blue-600: #2563EBff;
    --blue-700: #1D4ED8ff;
    --blue-800: #1E40AFff;
    --blue-900: #1E3A8Aff;
    --blue-950: #172554ff;

    --indigo-50: #eef2ffff;
    --indigo-100: #e0e7ffff;
    --indigo-200: #c7d2feff;
    --indigo-300: #818cf8ff;
    --indigo-400: #818cf8ff;
    --indigo-500: #6366f1ff;
    --indigo-600: #4f46e5ff;
    --indigo-700: #4338caff;
    --indigo-800: #3730a3ff;
    --indigo-900: #312e81ff;
    --indigo-950: #1e1b4bff;

    --amber-50: #fffbebff;
    --amber-100: #fef3c7ff;
    --amber-200: #fde68aff;
    --amber-300: #fcd34dff;
    --amber-400: #fbbf24ff;
    --amber-500: #f59e0bff;
    --amber-600: #d97706ff;
    --amber-700: #b45309ff;
    --amber-800: #92400eff;
    --amber-900: #78350fff;
    --amber-950: #451a03ff;

    --orange-50: #fff7edff;
    --orange-100: #ffedd5ff;
    --orange-200: #fed7aaff;
    --orange-300: #fdba74ff;
    --orange-400: #fb923cff;
    --orange-500: #f97316ff;
    --orange-600: #ea580cff;
    --orange-700: #c2410cff;
    --orange-800: #9a3412ff;
    --orange-900: #7c2d12ff;
    --orange-950: #431407ff;


    --green-50: #f0fdf4ff;
    --green-100: #dcfce7ff;
    --green-200: #bbf7d0ff;
    --green-300: #86efacff;
    --green-400: #4ade80ff;
    --green-500: #22c55eff;
    --green-600: #16a34aff;
    --green-700: #15803dff;
    --green-800: #166534ff;
    --green-900: #14532dff;
    --green-950: #052e16ff;

    --red-50: #fef2f2ff;
    --red-100: #fee2e2ff;
    --red-200: #fecacaff;
    --red-300: #fca5a5ff;
    --red-400: #f87171ff;
    --red-500: #ef4444ff;
    --red-600: #dc2626ff;
    --red-700: #b91c1cff;
    --red-800: #991b1bff;
    --red-900: #7f1d1dff;
    --red-950: #450a0aff;

    --fs-100: clamp(0.55rem, 0.92vw + 0.32rem, 0.9rem);
    --fs-200: clamp(0.6rem, 1.025vw + 0.35rem, 1rem);
    --fs-300: clamp(0.7rem, 1.15vw + 0.4rem, 1.125rem);
    --fs-400: clamp(0.8rem, 1.28vw + 0.45rem, 1.25rem);
    --fs-500: clamp(1rem, 1.66vw + 0.6rem, 1.625rem);
    --fs-600: ;

    --main-50: var(--indigo-50);
    --main-100: var(--indigo-100);
    --main-200: var(--indigo-200);
    --main-300: var(--indigo-300);
    --main-400: var(--indigo-400);
    --main-500: var(--indigo-500);
    --main-600: var(--indigo-600);
    --main-700: var(--indigo-700);
    --main-800: var(--indigo-800);
    --main-900: var(--indigo-900);
    --main-950: var(--indigo-950);

    --accent-50: var(--amber-50);
    --accent-100: var(--amber-100);
    --accent-200: var(--amber-200);
    --accent-300: var(--amber-300);
    --accent-400: var(--amber-400);
    --accent-500: var(--amber-500);
    --accent-600: var(--amber-600);
    --accent-700: var(--amber-700);
    --accent-800: var(--amber-800);
    --accent-900: var(--amber-900);
    --accent-950: var(--amber-950);

    --space: 0.5rem;
}

/* General Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Atkinson Hyperlegible', system-ui, 'Open Sans';
    margin: 0;
    overflow-y: overlay;

    background-image: linear-gradient(45deg,
            var(--neutral-800),
            var(--neutral-700),
            var(--neutral-600));
    background-size: 400%;
    animation: bg-animation 25s infinite alternate;
}

a:hover,
a:visited,
a:link {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Custom Scrollbar Section */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(115, 115, 115, 0.25);
    border-radius: 100vw;
    margin-block: .5em;
}

body::-webkit-scrollbar-thumb {
    background: var(--accent-400);
    border-radius: 100vw;
}

body::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

@supports (scrollbar-color: white white) {
    body {
        scrollbar-color: var(--accent-400) rgba(115, 115, 115, 0.25);
        scrollbar-width: thin;
    }
}

/* Layout Specifications */
.main-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.content-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 1% 2.5% 1% 2.5%;
}

/* Navigation Bar Section */
header {
    background: var(--main-500);
    text-align: center;

    position: sticky;
    /*Maybe absolute is better, priviously : fixed*/
    z-index: 999;

    width: 100%;
    left: 0;
}

.logo {
    height: 60.44px;
}

.navbar {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--main-500);
    width: 100%;
    transform: scale(1, 0);

    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    margin: 0 0 1rem 1rem;
}

.navbar a {
    color: var(--main-100);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;

    transition: 150ms ease-in-out;
}

.navbar a:hover {
    color: var(--accent-400);
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;

    height: 100%;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    margin-left: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--main-100);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

@media screen and (orientation:landscape) {
    /*.content-layout {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin: 1% 0 1% 0;
    }*/

    .content-layout {
        display: grid;
        grid-template-columns: minmax(min-content, 3fr) 10fr;
        margin: 1% 2.5% 1% 2.5%;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    .navbar {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar ul {
        display: flex;
        justify-content: flex-end;
    }

    .navbar li {
        margin: 0 0 0 3em;
    }

    .navbar a {
        opacity: 1;
        position: relative;
    }

    .navbar a::before {
        content: '';
        display: block;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        background: var(--accent-400);
        top: -.75em;
        left: 0;
        right: 0;

        transition: transform ease-in-out 250ms;
        transform: scale(0, 1);
    }

    .navbar a:hover::before {
        transform: scale(1, 1);
    }
}

footer {
    background: var(--main-500);
    width: 100%;
    font-size: 0.8rem;

    border-top: 5px solid transparent;
    border-color: var(--main-900);
}

footer>ul {
    margin-top: 0.32rem;
    margin-bottom: 0.64rem;
}

footer>ul>li>a {
    margin-left: 5%;
    color: var(--main-300);
}

footer>ul>li>a:hover {
    color: var(--main-50);
}

.copyright {
    width: 100%;
    float: left;
    font-size: 1rem;
    background-color: var(--main-900);
    color: var(--main-100);
}

.loading-screen {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 20%;
    padding-top: 10%;

}

.loading-icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #000000;
    border-top: 5px solid #fff8f8;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: none;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20%;
    padding-top: 10%;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}

@keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 #076fe5;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #076fe5;
        height: 40px;
    }
}