    body {
        font-family: Arial, sans-serif;
    }

    .container {
        margin-top: 150px;
        text-align: center;
    }

    .error-code {
        font-size: 100px;
        color: var(--red-600);
    }

    .error-message {
        color: var(--dark-color-5);
    }

    .error-message.title {
        font-size: 36px;
        color: var(--dark-color-5);
    }


    .home-link {
        font-size: 24px;
        color: #2980b9;
        text-decoration: none;
    }

    .home-link:hover {
        color: #1e5189;
    }
    