.prestation-layout {
    display: grid;
    grid-template-rows: 1fr calc(var(--fs-900) + 2*5px + 2*5px + 2*10px);
}

.prestations-accordion {
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(var(--main-700) 0%, transparent 15% 85%, var(--main-700) 100%) 1;
}

.category-input {
    display: none;
}


.prestations-accordion {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
}

.prestation-slide {
    min-width: 0;
    visibility: hidden;
}

.prestation-slide * {
    opacity: 0;
    transition: opacity 350ms ease-in-out 150ms;
}

.category-input:nth-child(1):not(:checked)~.prestations-accordion>.prestation-slide:nth-child(1) *,
.category-input:nth-child(2):not(:checked)~.prestations-accordion>.prestation-slide:nth-child(2) *,
.category-input:nth-child(3):not(:checked)~.prestations-accordion>.prestation-slide:nth-child(3) *,
.category-input:nth-child(4):not(:checked)~.prestations-accordion>.prestation-slide:nth-child(4) * {
    font-size: 0;
}

.category-input:nth-child(1):checked~.prestations-accordion {
    grid-template-columns: 1fr 0fr 0fr 0fr;
}

.category-input:nth-child(2):checked~.prestations-accordion {
    grid-template-columns: 0fr 1fr 0fr 0fr;
}

.category-input:nth-child(3):checked~.prestations-accordion {
    grid-template-columns: 0fr 0fr 1fr 0fr;
}

.category-input:nth-child(4):checked~.prestations-accordion {
    grid-template-columns: 0fr 0fr 0fr 1fr;
}

.category-input:nth-child(1):checked~.prestations-accordion>.prestation-slide:nth-child(1),
.category-input:nth-child(2):checked~.prestations-accordion>.prestation-slide:nth-child(2),
.category-input:nth-child(3):checked~.prestations-accordion>.prestation-slide:nth-child(3),
.category-input:nth-child(4):checked~.prestations-accordion>.prestation-slide:nth-child(4) {
    visibility: visible;
}

.category-input:nth-child(1):checked~.prestations-accordion>.prestation-slide:nth-child(1) *,
.category-input:nth-child(2):checked~.prestations-accordion>.prestation-slide:nth-child(2) *,
.category-input:nth-child(3):checked~.prestations-accordion>.prestation-slide:nth-child(3) *,
.category-input:nth-child(4):checked~.prestations-accordion>.prestation-slide:nth-child(4) * {
    opacity: 1;
    transition: opacity 350ms ease-in-out 150ms;
}

.category-name {
    text-transform: capitalize;
    text-align: center;
    font-size: var(--fs-400);
    font-weight: 700;

    color: var(--main-900);
}


.prestations {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    font-size: var(--fs-300);

    height: 200px;
    overflow-y: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edg */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera*/
.prestations::-webkit-scrollbar {
    display: none;
}

.prestation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    margin-top: 0.6rem;

    
    position: relative;
}

.prestation>* {
    width: clamp(200px, 10.62699256vw + 165.9936238px, 300px);
}

.prestation-value {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: var(--main-200);
    transition: color 550ms ease-in;
}

.prestation:hover .prestation-value{
    color: var(--accent-400);
}

.prestation-name {
    color: var(--neutral-800);
    text-align: center;
}

.prestation-value p {
    margin: 0;
}

.prestation-value p:not(:first-child) {
    margin-left: 0.6rem;
}

.label-accordion {
    --_panel-padding: 0.5rem;
    --_button-size: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-inline: 25%;
    padding-block: 5px;
    column-gap: 2%;
}

.category-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-700);
    border-radius: 100vw;
    height: 1fr;
    padding: 5px;
    aspect-ratio: 1;

    transition: padding 550ms ease-in-out,
        background-color 550ms ease-in-out;
}

.category-label:hover {
    background-color: var(--main-900);
}

.category-input:nth-child(1):checked~.label-accordion>.vertically-centered:nth-child(1)>.category-label,
.category-input:nth-child(2):checked~.label-accordion>.vertically-centered:nth-child(2)>.category-label,
.category-input:nth-child(3):checked~.label-accordion>.vertically-centered:nth-child(3)>.category-label,
.category-input:nth-child(4):checked~.label-accordion>.vertically-centered:nth-child(4)>.category-label {
    padding: 10px;
    background: var(--main-100);
}

.category-input:nth-child(1):checked~.label-accordion>.vertically-centered:nth-child(1)>.category-label:hover,
.category-input:nth-child(2):checked~.label-accordion>.vertically-centered:nth-child(2)>.category-label:hover,
.category-input:nth-child(3):checked~.label-accordion>.vertically-centered:nth-child(3)>.category-label:hover,
.category-input:nth-child(4):checked~.label-accordion>.vertically-centered:nth-child(4)>.category-label:hover {
    background-color: var(--main-900);
}

.category-label svg {
    height: var(--fs-500);
    aspect-ratio: 1;

    fill: var(--main-300);
    transition: fill 500ms ease-in-out 50ms;
}

.category-label:hover svg {
    fill: var(--main-400);
}

.category-input:nth-child(1):checked~.label-accordion>.vertically-centered:nth-child(1)>.category-label>svg,
.category-input:nth-child(2):checked~.label-accordion>.vertically-centered:nth-child(2)>.category-label>svg,
.category-input:nth-child(3):checked~.label-accordion>.vertically-centered:nth-child(3)>.category-label>svg,
.category-input:nth-child(4):checked~.label-accordion>.vertically-centered:nth-child(4)>.category-label>svg {
    height: var(--fs-900);
    fill: var(--main-500);
    transition: fill 550ms ease-in-out;
}

.category-input:nth-child(1):checked~.label-accordion>.vertically-centered:nth-child(1)>.category-label:hover>svg,
.category-input:nth-child(2):checked~.label-accordion>.vertically-centered:nth-child(2)>.category-label:hover>svg,
.category-input:nth-child(3):checked~.label-accordion>.vertically-centered:nth-child(3)>.category-label:hover>svg,
.category-input:nth-child(4):checked~.label-accordion>.vertically-centered:nth-child(4)>.category-label:hover>svg {
    fill: var(--main-400);
    transition: fill 550ms ease-in-out;
}